.CopyButton {
    width: inherit;
    height: inherit;
}

.CopyButton [class*='copyButtonIcons'] {
    width: inherit;
    height: inherit;
}

.CopyButton [class*='copyButtonIcon'] {
    transform: translate(-50%, -50%);
}

.CopyButton [class*='copyButtonSuccessIcon'] {
    color: var(--ifm-color-primary);
}
