/* TODO(dnguyen0304): Investigate merging into styled component. */

.workbench_container__load {
    animation-name: pulse;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes pulse {
    0% {
        /* TODO(dnguyen0304): Investigate changing to rgb(39, 60, 85). */
        background: rgb(46, 69, 97);
    }
    20% {
        background: rgb(46, 69, 97);
    }
    40% {
        background: #a0d2eb;
    }
    60% {
        background: #ffa8b6;
    }
    80% {
        background: #d0bdf4;
    }
    100% {
        background: rgb(46, 69, 97);
    }
}
